.box {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 0px;
  right: 0px;
  background-color: orange;
  color: white;
  font-size: x-large;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
